body, html { margin: 0; padding: 0; }

@font-face {
	font-family: 'Lato';
	src: url('Lato-Regular.ttf');
}

@font-face {
	font-family: 'Alba';
	src: url('alba.ttf');
}

@font-face {
	font-family: 'Mutant Academy';
	src: url('MutantAcademy.ttf');
}

body {
	font-family: 'Lato', sans-serif;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 50px;
}

a, a:visited {
	text-decoration: none;
	border-bottom: 1px solid #0E48A6;
	color: #0E48A6;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	text-align: center;
	display: block;
}

#header {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 37px;
}

#subheader {
	margin-top: 5px;
}

#vista-eagle {
	height: 75px;
	display: block;
	margin: 0 auto;
}

.divider {
	border-bottom: 1px solid #000;
	display: block;
	margin: 25px auto;
	width: 300px;
}

@media (max-width: 640px) {
	.divider {
		width: 85%;
	}
}

.funky {
	font-family: 'Alba';
	font-size: 28px;
}

em {
	color: #083569;
	font-style: normal;
	font-weight: bold;
}

p {
	text-align: center;
}